<h1 class="text-3xl">About the app</h1>
<hr class="my-2" />

<p class="mb-4">
  Elit sunt laborum ut eu aliquip. Id aliquip irure elit id exercitation et
  deserunt. Ex adipisicing officia exercitation occaecat do commodo ex
  consectetur enim id. Cillum qui ea eu ex pariatur eiusmod ea nulla ad sunt
  laboris tempor. Adipisicing id nulla consequat pariatur veniam velit deserunt
  ullamco veniam incididunt ipsum commodo. Elit irure nisi ex aliqua ut fugiat
  ad irure ea proident. Est amet nostrud in do esse quis.
</p>
